:root {
  --color-primary: #E3B748;
  --color-dark: #111111;
  --color-secondary: #2E2E2E;
  --color-light: #ffffff;
  --margin-bottom: 75px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter';
  background-color: #1D1D1D;
  color: var(--color-light);
}